page-datosinmobi {
 

//extra de complementos
.sp{
    text-align: justify;
    font-size: 14px!important;
    
} 
//texto y descripcion 
p{
   color: black;
    font-size: 16px!important;
  
} 

//complementos
.spd{
    text-align: wrap;
    font-size: 16px!important;
    color: black
} 
}
