page-inmobirenta {

    .txt {
    
        width: 100%;
        text-align: justify;
        font-size: 19px!important;
   color: rgb(73, 73, 73);
  font-family: 'Times New Roman', Times, serif;
    
   }
.sp {
    width: 100%;
    font-size: 14px!important;
    color: gray;
}
.sps {
    width: 100%;
    font-size: 14px!important;
    color: black;
}

}
