page-politicas {
    .card-title{
        font-weight: bold;
        font-size: 130%;
        text-align: center;
    }

    #logo{
        width: absolute;
    }
    .sp{
        text-align: justify;
        
    }
}
