page-modal-content {
    .txt {
    
        width: 100%;
        text-align: center;
        font-size: 19px!important;
   color: rgb(73, 73, 73);
  font-family: 'Times New Roman', Times, serif;
    
   }
.sp {
    width: 100%;
    font-size: 14px!important;
    color: gray;
}
.mitad{
    width: 50%;
    text-justify: auto;
}
}
